button {
    border: none;
    outline: none;
    padding: var(--paddingSm);
    text-align: center;
    background-color: var(--colorUiBackground);
    color: var(--textColor);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    filter: var(--dropShadow);

    .label {
        margin: 0 var(--marginSm);
    }

    &:hover {
        background-color: var(--colorUiHover);
        cursor: pointer;
    }

    &.btn-success {
        background-color: var(--colorSuccess);
        &:hover {
            background-color: var(--colorSuccessHover);
        }
    }

    &.btn-menu-mobile {
        justify-content: center;
        text-align: center;
        width: 32px;
        padding: var(--paddingSm) calc(var(--paddingSm) * 2);
        transition: all var(--transitionSpeed);

        &.close {
            background-color: var(--colorPrimary);
            &:hover {
                background-color: var(--colorPrimaryHover);
            }
        }

        &.open {
            background-color: var(--colorDanger);
            &:hover {
                background-color: var(--colorDangerHover);
            }
        }

        span {
            display: none;
        }
    }
}
