.noise-settings-wrap {
    padding: var(--paddingSm);
    overflow-y: auto;
    max-height: 100svh;
    section {
        padding: var(--paddingSm);
        margin: var(--marginSm);
        border: 2px dashed var(--colorUi);
    }
}
