.canvas-wrapper {
  position: relative;
  width: auto;
  height: 100%;
  max-height: 600px;

  app-button {
    position: absolute;
    z-index: 1;
    left: var(--marginSm);
    top: var(--marginSm);
  }
  .settings {
    position: absolute;
    z-index: 1;
    left: var(--marginSm);
    top: calc(var(--marginSm) * 10);
    color: var(--textColor);
  }
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
}
