.settings {
    &.loading {
        filter: opacity(0.5) brightness(0.5);
        pointer-events: none !important;
    }
    height: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;

    .settings-wrap {
        display: flex;
    }

    .main-settings,
    .noise-settings {
        width: fit-content;
        width: 280px;
        height: 100%;
        background-color: #555;
    }

    .noise-settings {
        background-color: #444;
    }
    section {
        padding: var(--paddingSm);
        margin: var(--marginSm);
        border: 2px dashed var(--colorUiBackground);
    }
    app-canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
    .btn-wrap {
        display: flex;
        margin-top: var(--marginSm);
        .export-btn,
        .preview-btn {
            display: block;
        }
        .export-btn {
            margin-right: calc(var(--marginSm) * 2);
        }
    }
}

.toggler {
    display: none;
}

@media screen and (max-width: 1430px) {
    .toggler {
        display: block;
        position: absolute;
        z-index: 2;
    }
    .settings-wrap {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: clip;
        position: absolute;
        top: 0;
        z-index: 1;
        width: fit-content;
        height: 100svh;
        left: 0;
        transform: translateX(-100%);
        transition: transform var(--transitionSpeed) ease-in-out;

        &.open {
            transform: translateX(0%);
        }
        .main-settings,
        .noise-settings {
            width: 100%;
        }
    }
}
