.settings {
    height: 100%;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;

    .main-settings,
    .noise-settings {
        width: fit-content;
        min-width: 18%;
        background-color: #555;
        height: 100%;
    }

    .noise-settings {
        background-color: #444;
    }
    section {
        padding: var(--paddingSm);
        margin: var(--marginSm);
        border: 2px dashed var(--colorUiBackground);
    }
    app-canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
}
