:root {
    --fontSizeSm: 12px;
    --fontSizeMd: 14px;
    --fontSizeLg: 18px;
    --fontSizeXl: 22px;

    --paddingSm: 5px;
    --marginSm: 5px;
}
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Arial";
    font-size: var(--fontSizeMd);
}
input {
    margin: 0;
}
p {
    margin: 0;
}

app-slider,
app-checkbox {
    padding: var(--paddingSm);
    display: block;
    width: fit-content;
    height: fit-content;
}
